<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-success">
			    <div class="panel-heading">
			    	<h3 class="panel-title">Client - {{customer.id}}: {{customer.name}} {{customer.lastName}}</h3>
			    </div>
			    <div class="panel-body">
			    	Adresse: <strong>{{customer.address}} - {{customer.postalCode}}</strong>
			   	</div>
			</div>
		</div>
	</div>
	<template v-for="del in delivery">
	<div class="delivery-{{$index}} well well-lg row" >
		<div class="col-md-9">
			<div class= "row">
				<div class="col-md-4">
					<div class= "row">
						{{$index + 1}} - Date : <strong>{{del.date}}</strong>
					</div>
					<div class= "row">
						<template v-if="del.isTarifHeure">
							Tarification: <strong>à l'heure - {{del.nbHeures}} heure(s)</strong>
						</template>
						<template v-else>
							Tarification: <strong>régulière - Service: </strong>
							<strong v-if="del.typeTarifRegulier == '1'">1 heure</strong>
							<strong v-if="del.typeTarifRegulier == '2'">2-3 heures</strong>
							<strong v-if="del.typeTarifRegulier == '3'">m-jour</strong>
							<strong v-if="del.typeTarifRegulier == '4'">lendemain</strong>
						</template>
					</div>
				</div>
				<div class="col-md-7">
					<div class= "row">
						Numéro de livraison: <strong>{{del.nbBill}}</strong>
					</div>
					<div class= "row">
						Adresse: <strong>{{del.adresseD}} - {{del.postalCodeD}}</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	</template>
	<button @click="billCustomer" type="button" class="btn btn-success"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;Facturer</button>
</div>