<div class="row">

	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading">Service</div>
			<div class="funkyradio">
				<div class="funkyradio-success">
		            <input type="radio"  value="1" name="radio" id="radioService1" v-model="delivery.typeTarifRegulier" class="radioButtonService" />
		            <label for="radioService1">1 Heure</label>
		        </div>
				<div class="funkyradio-success">
		            <input type="radio"  value="2" name="radio" id="radioService2" v-model="delivery.typeTarifRegulier" class="radioButtonService" />
		            <label for="radioService2">2-3 Heures</label>
		        </div>
				<div class="funkyradio-success">
		            <input type="radio"  value="3" name="radio" id="radioService3" v-model="delivery.typeTarifRegulier" class="radioButtonService" />
		            <label for="radioService3">Même jour</label>
		        </div>
				<div class="funkyradio-success">
		            <input type="radio"  value="4" name="radio" id="radioService4" v-model="delivery.typeTarifRegulier" class="radioButtonService" />
		            <label for="radioService4">Lendemain</label>
		        </div>
			</div>
		</div>
	</div>


	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">Frais sup.</div>
			<ul class="list-group">
				<li class="list-group-item">
				    C.O.D
				    <div class="material-switch pull-right">
				        <input id="cbxCOD" onclick="addAmount();" name="cbxCOD" v-model="delivery.isCOD" type="checkbox" class="radioButtonFraisSup"/>
				        <label for="cbxCOD" class="label-success"></label>
				    </div>
				</li>
				<li class="list-group-item">
				    Frais de camion
				    <div class="material-switch pull-right">
				        <input id="cbxCamion" onclick="addAmount();" name="cbxCamion" v-model="delivery.isCamion" type="checkbox" class="radioButtonFraisSup"/>
				        <label for="cbxCamion" class="label-success"></label>
				    </div>
				</li>
				<li class="list-group-item">
				    Aller retour
				    <div class="material-switch pull-right">
				        <input id="cbxAllerRetour" onclick="addAmount()" name="cbxAllerRetour" v-model="delivery.isAllerRetour" type="checkbox" class="radioButtonFraisSup"/>
				        <label for="cbxAllerRetour" class="label-success"></label>
				    </div>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-5">
		<div class="panel panel-success">
			<div class="panel-heading">Frais sup.</div>
			<div class="panel-body inline">
				<div class="row well-sm">
				    Poids sup.
				    <div class="pull-right">
				        <input v-model="delivery.nbLbsPlus" class="spinnerCR" id="inputNBPoundsPlus" min="0" value="0"  required></input>
				    </div>
				</div>
				<div class="row well-sm">
				    Temps d'attente sup.
				    <div class="pull-right">
				       <input v-model="delivery.nbMinutesWaitPlus" class="spinnerCR" id="inputNBMinutesWaitPlus" min="0" value="0"  required></input>
				    </div>
				</div>
				<div class="row well-sm">
				    Temps de recherche sup.
				    <div class="pull-right">
				        <input v-model="delivery.nbMinutesFindPlus" class="spinnerCR" id="inputNBMinutesFindPlus" min="0" value="0"  required></input>
				    </div>
				</div>
			</div>
		</div>
	</div>


</div>