<div class="panel panel-info">
	<ul class="list-group">
		<li class="list-group-item">
		    <div class="well well-sm">
		    	<strong>Prix de la livraison : </strong>
		    	<div class="pull-right">
		    		<strong id="totalPriceDelivery">{{data.basePrice}} $</strong>
				</div>
		    </div>
		</li>
		<li class="list-group-item">
		    <div class="well well-sm">
		    	<strong>Surcharge d'essence : </strong>
		    	<div class="pull-right">
		    		<strong id="priceGaz">{{data.gazPrice}} $</strong>
				</div>
		    </div>
		</li>
		<li class="list-group-item">
		    <div class="well well-sm">
		    	<strong>Montant des taxes : </strong>
		    	<div class="pull-right">
		    		<strong id="priceTaxes">{{data.taxesPrice}} $</strong>
				</div>
		    </div>
		</li>
		<li class="list-group-item">
		    <div class="well well-lg">
		    	<strong>Grand total : </strong>
		    	<div class="pull-right">
		    		<strong id="total">{{data.totalDelivery}} $</strong>
				</div>
		    </div>
		</li>
	</ul>
</div>